main {
    margin-left: 10em;
    margin-right: 10em;
}

main h2 {
    margin: 1em;
    text-align: center;
}

main section {
    display: flex;
    margin: 2em;
}

main section iframe {
    border: none;
    height: 400px;
    width: 800px;
    margin-right: 2em;
}

main section img {
    height: 150px;
    width: 150px;
    margin-right: 2em;
}

main section p {
    padding: 2em;
}

main section:hover {
    background-color: lightgray;
}
