main h1 {
    text-align: center;
}

main section {
    margin-left: 10em;
    margin-right: 10em;
    text-align: center;
}

main section h2 {
    margin: 1em;
}

main section p {
    margin: 1em;
}

#imgActivities {
    width: 100%;
    height: auto;
}