main img {
    position: relative;
    width: 100%;
    height: 100%;
}


main p img:hover {
    opacity: 0.2;
    transition: 2s;
}

#office1 {
    float: left;
    width: 50%;
    margin-bottom: 75px;
    margin-top: 5px;
    height: 650px;
}

#office2 {
    float: right;
    width: 50%;
    margin-bottom: 75px;
    margin-top: 5px;
    height: 650px;
}

.office1-list {
    color: black;
    position: absolute;
    font-size: 22px;
    text-shadow: burlywood;

    padding: 30px;
    margin: 60px;
    margin-left: 25%;
}