main h1 {
    background-color: lightgray;
    color: white;
    position: absolute;
    top: 50%;
    left: 20%;
    padding: 10px;
}

main h1:hover{
    opacity: 0.6;
}

main img {
    position: relative;
    width: 100%;
    height: 100%;
}


main p img:hover {
    opacity: 0.2;
    transition: 2s;
}

#office1 {
    float: left;
    width: 50%;
    margin-bottom: 75px;
    margin-top: 5px;
    height: 650px;
}

#office2 {
    float: right;
    width: 50%;
    margin-bottom: 75px;
    margin-top: 5px;
    height: 650px;
}

main p ul {
    color: white;
    position: absolute;
    background-color: gray;
}

.office1-list {
    color: black;
    position: absolute;
    font-size: 22px;
    text-shadow: burlywood;

    padding: 30px;
    margin: 60px;
    margin-left: 25%;
}
